// define my colors and variables

// Flatly 4.3.1
// Bootswatch

//
// Color system
//

$white    = #fff
$gray-100 = #f8f9fa
$gray-200 = #ecf0f1
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #b4bcc2
$gray-600 = #95a5a6
$gray-700 = #7b8a8b
$gray-800 = #343a40
$gray-900 = #212529
$black =    #000

$blue =    #2C3E50
$indigo =  #6610f2
$purple =  #6f42c1
$pink =    #e83e8c
$red =     #E74C3C
$orange =  #fd7e14
$yellow =  #F39C12
$green =   #18BC9C
$teal =    #20c997
$cyan =    #3498DB

$primary =       $blue
$secondary =     $gray-600
$success =       $green
$info =          $cyan
$warning =       $yellow
$danger =        $red
$light =         $gray-200
$dark =          $gray-800


// now set VuePress colors and other config
// see https://github.com/vuejs/vuepress/blob/master/packages/@vuepress/core/lib/client/style/config.styl

$accentColor =         $primary
$textColor =           $dark
$headingTextColor =    $primary
$backgroundColor =     $light
$borderColor =         $secondary
$codeBgColor =         $dark
$arrowBgColor =        $secondary
$badgeTipColor =       $info
$badgeWarningColor =   $warning
$badgeErrorColor =     $danger

// non-color settings
// $fontFamily = "PT Sans", system-ui, Roboto, "Droid Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$fontFamily = "Titillium Web", system-ui, Roboto, "Droid Sans", sans-serif, NotoColorEmoji, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$fontFamilyCode = source-code-pro, Menlo, "Courier New", monospace
// Titillium semi-bold is 600, not 500
$anchorFontWeight = 600

$borderRadius = 0.25rem
$transitionSpeedColor = 0.45s
$transitionSpeedTransform = 0.45s

// adjust sidebar
$sidebarTextColor = $gray-200
$sidebarHeadingTextColor = $gray-400
$sidebarBackgroundColor = $primary
$sidebarAccentColor = $secondary
$sidebarWidth = 15rem
